# dependencies
/node_modules

# build
/build
/storybook-static

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.vscode

# loki
.loki/current
.loki/difference
.loki/report.html
.loki/report.json