body {
  &.dark {
    --bg-color: #303030;
    --primary-color: #D9D9D9;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0232c2;
    --inverted-bg-color: #e8e8ea;
    --inverted-secondary-color: #0452ff;
  }  
}
