body {
  &.light {
    --bg-color: #D9D9D9;
    --primary-color: #303030;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-bg-color: #090949;
    --inverted-secondary-color: #04ff04;
  }
}
