.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}
